div.scrollmenu {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu span {
	color: white;
	display: inline-block;
	padding: 14px;
	text-align: center;
	text-decoration: none;
}

div.scrollmenu span:hover {
	background-color: #777;
}
